<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf8">
        <link rel="stylesheet" href="../css/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="main.js"></script>
        <title>mariage</title>

    </head>
    <body class="wrap">
        <div class="menu">
            <div class="menu__header">
                <img src="../img/glass.png" alt="menu" class="menu__icon">
                <a href="main.html" class="title">mariage</a>
            </div>
            <ul class="menu__tabs">
                <li class="menu__tabs--tab1">history</li>
                <li class="menu__tabs--tab2">about</li>
                <li class="menu__tabs--tab3">vintage</li>
                <li class="menu__tabs--tab4">domaine,chateau</li>
                <li class="menu__tabs--tab5">etiquette</li>
            </ul>
        </div>

        <div class="main">
            <!-- 歴史 -->
            <div class="panels show">
                <h2 class="headline">history</h2>
                <div class="panels__panel">
                    <img src="../img/clock.jpg" alt="clock" class="panels__panel--img">
                    <div class="panels__panel--text">
                        <p>ワインの歴史は、ブドウの歴史でもあると言われています。</p>
                        <p>その歴史の始まりは、一説には紀元前8000年ごろともいわれています。</p>
                    </div>
                </div>
                <div class="panels__panel">
                    <div class="panels__panel--text">
                        <p>メソポタミア、そしてエジプトで造られ始めたワインですが、紀元前1500年ごろにギリシャに伝わったと言われています。</p>
                        <p>紀元前600年頃、ギリシャ人の一部が南フランス・マルセイユ地方に移り住んできました。</p>
                        <p>そして、勢力を強めていたローマ人の手によってヨーロッパ全土に広げられます。</p>
                    </div>
                    <img src="../img/ship.jpg" alt="ship" class="panels__panel--img">
                </div>
            </div>

            <!-- 種類 -->
            <div class="panels">
                <h2 class="headline">about</h2>
                <div class="panels__panel">
                    <img src="../img/type.jpg" alt="clock" class="panels__panel--img">
                    <div class="panels__panel--text">
                        <p>赤ワインに使われているブドウ品種は黒ブドウと呼ばれます。</p>
                        <p>黒味がかった紫の果皮を持ち、この果皮から抽出される色素が赤ワインの美しいルビー色を生み出します。</p>
                    </div>
                </div>
                <div class="panels__panel">
                    <div class="panels__panel--text">
                        <p>代表的なブドウの品種は、カベルネ・ソーヴィニヨンやメルローなどがあります。</p>
                        <p>それぞれに、色味やタンニン（種子に含まれる渋み成分）などに違いがあります。</p>
                    </div>
                    <img src="../img/grape.jpg" alt="grape" class="panels__panel--img">
                </div>
            </div>

            <!-- ヴィンテージ -->
            <div class="panels">
                <h2 class="headline">vintage</h2>
                <div class="panels__panel">
                    <div class="panels__panel--text">
                        <p>ヴィンテージとは、そのワインの原料であるブドウの収穫年のことをいいます。</p>
                        <p>プレゼントにその人の生まれ年のワインを贈る、など聞いたことありますよね。</p>
                        <p>なぜ、収穫年が大事かというと、天候などに左右されて味の良し悪しが変わるからです。</p>
                        <p>有名な畑、有名な造り手が作ったワインでも毎年最高のワインができるわけではないということですね。</p>
                    </div>
                    <img src="../img/vintage.jpg" alt="vintage" class="panels__panel--img">
                </div>
            </div>

            <!-- 畑 -->
            <div class="panels">
                <h2 class="headline">domaine,chateau</h2>
                <div class="panels__panel">
                    <img src="../img/field.jpg" alt="field" class="panels__panel--img">
                    <div class="panels__panel--text">
                        <p>ドメーヌ、シャトー共にブドウ畑を所有し、ブドウの栽培・醸造・熟成・瓶詰までを自分たちで行う生産者のことを示します。</p>
                        <p>違いは、ドメーヌがブルゴーニュ地方のワイン生産者の名称であるのに対し、シャトーはボルドー地方の生産者の名称です。</p>
                    </div>
                </div>
                <div class="panels__panel">
                    <div class="panels__panel--text">
                        <p>ブルゴーニュの「ドメーヌ」は、「所有地」を意味します。家族経営のところが多く、敷地も規模も小さいので生産量も必然的に少なくなります。</p>
                        <p>ボルドーの「シャトー」は、もともと「お城」を意味します。お城のような邸宅を醸造所にし、広大な敷地にワイナリーとしての大規模な設備を構えているところが多いようです。</p>
                    </div>
                    <img src="../img/maker.jpg" alt="maker" class="panels__panel--img">
                </div>
            </div>

            <!-- エチケット -->
            <div class="panels">
                <h2 class="headline">etiquette</h2>
                <div class="panels__panel">
                    <img src="../img/etiquette.jpg" alt="etiquette" class="panels__panel--img">
                    <div class="panels__panel--text">
                        <p>ワインのボトルに貼られたシールは、ラベルともエチケットとも呼ばれます。</p>
                        <p>英語でラベルと呼ぶものを、フランス語にしたのがエチケットなので、どちらも同じ意味です。</p>
                        <p>ワインのエチケットには、名前、ヴィンテージ、生産国、ブドウの品種などなど色々な情報が書いてあります。</p>
                        <p>デザイン自体もおしゃれなものや可愛いものなど様々です。</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>